<p>
    <font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px">
    </font>
    <font style="font-family: Verdana, Geneva, sans-serif; color:#000; font-size:14px; line-height:21px">
        <span>
            <%= message %>
        </span>
    </font>
</p>