<html>
<title>E-Scooter</title>
<head></head>
<body>
<style>
    div.message {
        height: 100%;
        position: relative
    }

    div.message p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        color: #58666e;
        font-size: 24px;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>
<div class="message">
    <p><%= message %></p>
</div>
</body>
</html>
