
<!--Header-->
<center
    style="border-spacing: 0; border-collapse: collapse; background-color: #f0f0f0"
>
    <div class="email-wrapper" style="max-width: 800px;">
        <table
            class="email-header"
            cellspacing="0"
            cellpadding="0"
            border="0"
            align="center"
            width="100%"
            style="border-spacing: 0; border-collapse: collapse; max-width: 800px;"
        >
            <tbody>
                <tr>
                    <!--Logo-->
                    <td
                        style="font-family: 'Roboto', sans-serif; font-size: 13px;"
                        width="75%"
                    >
                        <div style="width: 100%;">
                            <a target="_blank" href="" rel="nofollow">
                                <h1><%= Translation.translateMessage(sails.config.PROJECT_NAME, language) %></h1>
                                <!--<img src="http://www.elvee.in/client-assets/img/logo-default.png"
                                 style="display: block; width: 100%; height: auto; padding-top: 8%">-->
                            </a>
                        </div>
                    </td>
                    <!-- <td width="25%" style="text-align: right">
                        <div
                            style="text-align: right; display: inline-block; vertical-align: bottom;"
                        >
                            <a
                                style="color: #666666; font-size: 12px; text-decoration: none"
                                target="_other"
                                rel="nofollow"
                            >
                            <%= Translation.translateMessage('Ask for Help', language) %>
                            </a>
                        </div>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</center>
<!-- /Header-->
