<style>
    .wrapper {
        padding: 15px;
    }

    pre {
        border: 0 !important;
        background-color: #FFFFFF !important;
    }

    .m-t-lg {
        margin-top: 30px;
    }

    .b-b {
        border-bottom: 1px solid #ccc;
    }

    .p-b-5 {
        padding-bottom: 5px;
    }
    body {
        background: #000000;
        color: #ffffff;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div id="wrapper">
    <div class="col-md-12 wrapper">
        <div class="col-md-12 m-t-lg">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>

    </div>
</div>
</body>
</html>
