<div style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <p>Rent Payment
    </p>
    <p>
        RequestId : <%= requestId %>
    </p>
    <p>
        Request for payment withdrawal of <%= sails.config.CURRENCY_SYM %> <%= amount %> is <%= status %>.
    </p>
</div>