<!--common for all mail content body-->

<!--Rating Review link-->
<!--<p style="font-family: 'Roboto', sans-serif; font-weight: 400; color: #777; font-size: 14px; line-height: 1.8; color: #000; text-align: left">
    If you love our services, please rate them and motivate us to keep striving!
    <a style="color: #e2473b; border-bottom: 2px solid #e2473b;" target="_other"
       rel="nofollow">YoloCarts</a>
</p>-->
<!--/Rating Review link-->

<!--Regards-->
<p
    style="margin-top: 30px; margin-bottom: 15px; font-size: 14px; line-height: 1.8; color: #000"
>
<%= Translation.translateMessage('Regards', language) %>,<br />
    <b style="font-weight: 500;">
        <%= Translation.translateMessage(sails.config.PROJECT_NAME, language) %>
        <%= Translation.translateMessage('Team', language) %>
    </b>
</p>
<!--/Regards-->

<!--/common for all mail content body-->
