<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <%= Translation.translateMessage(message, language) %>
</p>
<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <a target="_blank" href=" <%= link %>">
        <%= Translation.translateMessage(linkText, language) %>
    </a>
</p>