<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Falcon</title>
    <!--STYLES-->
    <!--STYLES END-->
</head>
<body>
<div class="app" id="app">
    <%- body %>
</div>

<!--VENDOR SCRIPTS-->

<!--VENDOR SCRIPTS END-->
<!--SCRIPTS-->

<!--SCRIPTS END-->

</body>
</html>
